
		.red{background-color:#f67e7e;}
		.orange{background-color:peachpuff;}
		.yellow{background-color:lightyellow;}
		.green{background-color:#6ccf65;}
		.aqua{background-color:#97e6de;;}
		.blue{background-color:steelblue;}
		.purple{background-color:rgb(187, 123, 163);}
		.pink{background-color:pink;}
		.black{background-color:#332f2f;;color:#fff4f4;}
		.white{background-color:mintcream;}
		.background{background-color:#d5d7d7;}

		h1{
			background-color:#b0b0b0;
			color: #6c6363;
			text-align: center;
			font-family: "Arial";
		}

		input{
			height:60px;
		    font-size:15pt;
		}

		button{
			width:128px;
			height:64px;
			border: 0px solid;
			color: #22473b;
			font-size: 22px;
			background-color:#a1a1a1;
			margin-bottom:5px;
			-webkit-transition-duration: 0.1s;
			transition-duration: 0.1s;
		}

		button:hover{opacity:0.6;}

		button:active{transform:scale(1.2,1.2);}

		textarea{
			width:100%;
			text-align:center;
			font-size: 32px;
		}

		ul{font-size: 22px;color: #22473b;}
