// Translation
- var t_off = "OFF"
- var t_on = "ON"
- var t_red = "Red"
- var t_orange = "Orange"
- var t_yellow = "Yellow"
- var t_green = "Green"
- var t_aqua = "Aqua"
- var t_blue = "Blue"
- var t_purple = "Purple"
- var t_pink = "Pink"
- var t_stop = "Stop"
- var t_blink = "Blink"
- var t_pulse = "Pulse"
- var t_rainbow = "Rainbow"
- var t_settings = "Settings"
- var t_save = "Save"
- var t_clear = "Erase"
- var t_reset = "Load"
- var t_status = "Status"
- var t_notconnected = "Not connected"
- var t_connected = "Connected"
- var t_send = "Send"
- var t_cancel = "Cancel"
- var t_wrongpassword = "Wrong Password"
- var t_password_required = "Password required"
- var t_validate_ssl = "Validate SSL certificate"
- var t_disconnect = "Disconnect"
