// Translation
- var t_off = "OFF"
- var t_on = "ON"
- var t_red = "Rouge"
- var t_orange = "Orange"
- var t_yellow = "Jaune"
- var t_green = "Vert"
- var t_aqua = "Aqua"
- var t_blue = "Bleu"
- var t_purple = "Violet"
- var t_pink = "Rose"
- var t_stop = "Stop"
- var t_blink = "Clignoter"
- var t_pulse = "Pulsation"
- var t_rainbow = "Arc-en-ciel"
- var t_settings = "Paramètres"
- var t_save = "Sauver"
- var t_clear = "Effacer"
- var t_reset = "Charger"
- var t_status = "Statut"
- var t_nonconnected = "Déconnecté"
- var t_connected = "Connecté"
- var t_send = "Envoyer"
- var t_cancel = "Annuler"
- var t_wrongpassword = "Mdp Incorrect"
- var t_password_required = "Mot de passe"
